body{
    background:#ffdbe8;
    font-family:Georgia,serif;
    text-align:center;
    margin:0;
    overflow-x:hidden;
}

.page{
    display:none;
    min-height:100vh;
    padding:40px 20px;
}

.active{
    display:block;
}

button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:20px;
    background:#d81b60;
    color:white;
    font-size:18px;
}

.main-img,
.cake{
    width:250px;
    border-radius:20px;
}

.envelope{
    font-size:120px;
    cursor:pointer;
}

.letter{
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:500px;
    margin:auto;
    text-align:left;
    white-space:pre-line;
}

.promise{
    background:white;
    margin:15px auto;
    padding:15px;
    width:80%;
    border-radius:20px;
}
